* {
    box-sizing: border-box;
  }
  
  body, html {
    background-color: rgb(159, 215, 230);
    color: black;
    font-family: Arial, Tahoma, sans-serif;
    height: 100%;
    margin: 20px;
    padding: 0;
  }

  a {
    color: black;
    font-weight: bold;
  }
  
  a:hover {
    color: #3795c0;
  }

  button {
    background-color: white;
    border: 0;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 1%;
}

button:hover {
    background-color: #3795c0;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.go-back {
  color: black;
}

textarea, input {
  border-radius: 5px;
  border: 1px solid wheat;
  padding: .5%;
}

textarea:focus, input:focus {
  border: 1px solid #3795c0;
  outline: none;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form label {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  width: 100%;
}

header {
  align-items: center;
  border-bottom: 1px solid wheat;
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
}